.DS_Store
Thumbs.db
wp-cli.local.yml
node_modules/
vendor/
assets/css/styles.css
assets/css/*.css.map

# wpunit helpers
bin/helpers.sh
bin/install-wp-tests.sh
bin/install-local-tests.sh
bin/phpunit-test.sh
.*.cache
