.pantheon-page-cache {
	hr {
		display: none;
	}

	tr.cache-default-max-age {
		display: block;
		padding: 10px;
		background: $white;
		color: $charcoal;
		box-shadow: $shadow;

		td {
			padding: 0;
		}

		.pantheon-cache-default-max-age {
			padding: 0 10px 10px 0;

			i {
				margin-right: 5px;
				line-height: 1.0em;
			}

			&-info-bar {
				background: $blue;
				color: $white;
				padding: 5px;
				text-align: left;
				display: block;
				width: 100%;
			}

			&-description {
				color: $gray;
				margin-bottom: 0;
			}
		}
	}
}
