.pantheon-page-cache {
	hr {
		display: none;
	}

	tr.cache-default-max-age {
		display: block;
		padding: $padding;
		background: $white;
		color: $charcoal;
		box-shadow: $shadow;

		td {
			padding: 0;
		}

		.pantheon-cache-default-max-age {
			padding: 0 $padding $padding 0;

			h3 {
				margin-top: 0.5em;
			}

			i {
				margin-right: $padding;
				line-height: 1.0em;
			}

			&-info-bar {
				background: $blue;
				color: $white;
				padding: $padding 0 $padding $padding;
				text-align: left;
				display: block;
				width: 100%;
				margin-bottom: 1em;

				a {
					color: $white;
					text-decoration: underline;
				}

				a:hover, a:active {
					color: $white;
					text-decoration: none;
				}
			}

			select {
				background-color: $white;
				color: $charcoal;
				border: 1px solid $gray;
				border-radius: 0;
			}

			&-description {
				color: $gray;
				margin: $padding 0 0 0;
			}
		}
	}
}
